@model Usuario

	<div class="row">
		<div class="col-md-4">
		</div>
		<div class="col-md-4">
			<form method="POST">
                @Html.AntiForgeryToken()
				<div class="form-group">
					<label asp-for="@Model.Nome">Nome</label>
					<input type="text" asp-for="Nome" placeholder="Nome do Usuário" class="form-control" >
                    <span class="text-danger" asp-validation-for="@Model.Nome"></span>
				</div>
				<div class="form-group">
					<label asp-for="@Model.Email">Email</label>
					<input type="email" asp-for="Email" placeholder="Email do Usuário" class="form-control" >
                    <span class="text-danger" asp-validation-for="@Model.Email"></span>
				</div>
				<div>
					<label asp-for="@Model.Senha">Senha</label>
					<input type="password" asp-for="Senha" placeholder="Senha do Usuário" class="form-control" >
                    <span class="text-danger" asp-validation-for="@Model.Senha"></span>
				</div>
				<br>
				<button type="submit" class="btn btn-success">
					Salvar
				</button>
			</form>
		</div>
		<div class="col-md-4">
		</div>
	</div>