@model Usuario


<div class="row">
    
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <label> Nome: @Model.Nome</label>
        <label> Email: @Model.Email</label>
        <form asp-controller="Usuario" asp-action="Deletar">
            <label> Quer realmente deletar?</label>
            <button type="submit" class="btn btn-primary">Sim</button>
            
            <a class="btn btn-danger" asp-action="Todos">Não</a>
        </form>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        
    </div>
    
</div>
