@model IList<Usuario>


<div class="row">
    <a class="btn btn-info" asp-action="Novo"><spam class="glyphicon glyphicon-plus"></spam></a>
    <br>
</div>

<div class="row">    
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th class="text-center">Nome</th>
                <th class="text-center">Email</th>
                <th class="text-center"></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var usuario in @Model)
            {
                <tr>
                    <td>@usuario.Nome</td>
                    <td>@usuario.Email</td>
                    <td class="text-center">
                        <a class="btn btn-primary" asp-controller="Usuario" asp-action="Editar" asp-route-id="@usuario.UsuarioId"><spam class="glyphicon glyphicon-pencil"></spam></a>
                        <a class="btn btn-danger" asp-controller="Usuario" asp-action="Deletar" asp-route-id="@usuario.UsuarioId"><spam class="glyphicon glyphicon-remove"></spam></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
